body {
  font-family: 'Segoe UI', sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 0;
}

/* GÓRA */
#top-area {
  text-align: center;
  padding: 20px;
}

/* PRZYCISK */
#bigButton {
  background: #00ff88;
  color: #000;
  font-size: 32px;
  padding: 25px 60px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 20px #00ff88;
  transition: 0.1s;
}

#bigButton:active {
  transform: scale(0.95);
}

/* SKLEP PO PRAWEJ */
#shop-area {
  position: fixed;
  right: 10px;
  top: 140px;
  width: 300px;
  background: #222;
  padding: 20px;
  border-radius: 12px;
}

/* REBIRTH W ROGU */
#rebirth-area {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  background: #2a2a2a;
  padding: 20px;
  border-radius: 12px;
}

/* LICZNIK ODWIEDZIN */
#visitorCounter {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 18px;
  color: #aaa;
}

/* TELEFONY */
@media (max-width: 800px) {
  #shop-area, #rebirth-area {
    position: static;
    width: 90%;
    margin: 20px auto;
  }

  #visitorCounter {
    position: static;
    text-align: center;
    margin-top: 20px;
  }
}
